#weekly_calendar_section {
	height:435px;
}

#weekly_calendar_times{
	list-style-type: none; 
	margin-right: 2px;
	height: 265px;
	overflow: hidden;
	
}


#weekly_calendar_controls {
	display: inline-block;
	float: left;
	margin-top: 110px;
	max-width:5%;
}

#weekly_calendar_scroll_up {
	font-size:20px;
	cursor: pointer;
}

#weekly_calendar_scroll_down{
	cursor: pointer;
}

#weekly_calendar {
	display: inlineblock;
	 max-width: 95%
}

#weekly_calendar_row {
	height: 317px;
}

#weekly_calendar td {
	max-width: 145px;
	width: 13.57%;
}

.calendar_day {
	list-style-type: none;
	display: inline-block;
	height: 260px;
	overflow: hidden;
	margin-top: 29px;
}